* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.app-header {
    display: flex; 
    align-items: center;
    height: 65px;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.header--image {
    height: 100%;
    padding: 20px;
}

.header--title {
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    line-height: 24px;
    margin-right: auto;
}

.header--text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding-right: 20px;
}

main {
    padding: 40px;
}

.form {
    display: grid;
    grid: auto / auto auto;
    grid-gap: 20px;
}

.form--input {
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    height: 35px;
    font-family: 'Karla', sans-serif;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    color: white;
    border: none;
    font-family: 'Karla', sans-serif;
}